.about {
  display: flex;
  flex-direction: row;
  align-items: center;

  .content {
    text-align: right;

    .links {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      font-weight: 700;
      text-transform: uppercase;
      font-size: var(--text-sm);

      a {
        border: none;
      }

      .blog {
        margin-right: var(--space-md);
      }

      .resume {
        color: var(--color-accent);
      }
    }
  }

  .picture {
    margin-left: 3em;

    img {
      border-radius: 100%;
      display: block;
      width: 16.5em;
    }
  }
}

@media screen and (max-width: 739px) {
  .about {
    flex-direction: column;

    .picture {
      display: none;
    }
  }
}

@media screen and (min-width: 740px) and (max-width: 959px) {
  .about {
    .picture {
      img {
        width: 13em;
      }
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .about {
    .picture {
      img {
        width: 14em;
      }
    }
  }
}
